header.banner {
  background: #993333;
  border-bottom: 1px solid #fff;
}

header.banner .container {
  height: 100px;
  position: relative;
}

header.banner nav {
  position: absolute;
  bottom: 10px;
  right: 0;
}

header.banner ul li {
  margin-left: 15px;
}

header.banner ul li a {
  color: #f9aaaa;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 10px;
}

header.banner ul li a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 3px solid #fff;
}

header.banner a.brand {
  line-height: 100px;
  color: #ffffcc;
  font-family: 'Merriweather', serif;
}

header.banner a.brand:hover {
  text-decoration: none;
  font-size: 24px;
}
