.navbar {
  background: #993333;
  border-bottom: 1px solid #fff;
  position:relative;
}

.navbar-brand {
  color: #ffffcc !important;
  font-family: 'Merriweather', serif;
  font-size: 24px;
  text-decoration: none;
}

.navbar-brand div {
  display: inline-block;
  margin-left: 15px;
}

.navbar-brand span.subtitle {
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  font-family: 'Roboto', sans-serif;
}

button.navbar-toggler {
  background: #ffc;
  vertical-align: middle;
}

.navbar .menu-item a {
  color: #f9aaaa;
  padding-bottom: 10px;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
}
.navbar-collapse ul li a:hover,
.navbar-collapse ul li.current_page_item a {
  color: #fff;
}

