html {
  font-family: 'Roboto', sans-serif;
  counter-reset: element;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

.main {
  background: #e4e4e4;
  padding: 0 !important;
}

.jumbotron-fluid {
  width: 100%;
  background: url('../images/header.jpg');
  background-size: cover;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
}

.jumbotron-fluid::before {
	content:"";
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .7);
}

.jumbotron-fluid h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.jumbotron-fluid h1.subtitle,
.jumbotron-fluid h3 {
  font-weight: 300;
}

.jumbotron-fluid h3::before,
.jumbotron-fluid h3::after {
  content: "";
  display: inline-block;
  width: 60px;
  border-bottom: 2px solid #fff;
  margin: 5px 15px;
}

.jumbotron-fluid .input-group {
  margin-top: 30px;
  border: 12px solid rgba(255, 255, 255, 0.4);
  max-width: 500px;
  margin: 0 auto;
}

.jumbotron-fluid input {
  border-radius: 0;
  border: 1px solid #999;
  font-style: italic;
  background: #ffffcc;
  color: #333;
}

.jumbotron-fluid button {
  border-radius: 0;
  border: 1px solid #999;
  background: #ffcc00;
}

.ghiduri-section,
.plan-personal-section,
.campanii-section,
.app-section {
  padding-top: 60px;
}

.ghiduri-section h3 {
  text-transform: uppercase;
  font-family: 'Roboto', serif;
  font-weight: bold;
  margin: 10px auto;
}

h2 {
  margin-bottom: 60px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

h2:after {
  content: ' ';
  display: block;
  border-bottom: 5px solid #993333;
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.ghiduri-section .ghid-content {
  border: 1px solid #ccc;
  background: #fff;
  padding: 20px;
  text-align: center;
}

.ghiduri-section .ghid-row {
  margin-bottom: 20px;
}

.ghiduri-section .ghid-content .btn {
  font-size: 12px;
  color: #993333;
  border: 1px solid #999;
  background: #ebebeb;
  cursor: pointer;
}

.ghiduri-section .ghid-content .btn:hover {
  background: #fff;
}

#campaign-section {
    margin-top: 100px;
}

#campaign-section .campaign-content img {
  width: 100%;
}

#campaign-section .campaign-row {
  margin-bottom: 20px;
}

#campaign-section .campaign-content .btn {
  font-size: 12px;
  color: #993333;
  border: 1px solid #999;
  background: #ebebeb;
  cursor: pointer;
  margin-left: 0;
  margin-top: 16px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

#campaign-section .campaign-content .btn:hover {
  background: #fff;
}

#campaign-section .campaign-content h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

#campaign-section .campaign-content .campaign-extras {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

#campaign-section .campaign-content .campaign-date {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.all-button {
  margin: 60px auto;
  text-transform: uppercase;
  color: #fff;
  background: #993333;
  font-size: 12px;
}

.summary-section {
  padding: 40px 0;
  background: #465d86;
  color: #fff;
}

.summary-section .col {
  text-align: center;
}

.summary-section .col i {
  font-size: 48px;
}

.summary-section .count span {
  display: block;
  font-weight: bold;
  font-size: 24px;
}

.plan-personal-section {
  background: #fff;
}

.plan-personal-section .headline {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.plan-personal-section .big-red {
  color: #993333;
}

.plan-personal-section div:nth-of-type(3) {
  margin-top: 10px;
}

.plan-personal-section .element::before {
  counter-increment: element;
  content: counter(element) '. ';
  font-size: 18px;
  font-weight: bold;
}

.app-section {
  background: #fff;
}

.app-section h2 {
  font-weight: normal;
  text-align: left;
  text-transform: none;
}

.app-section h2::after {
  margin-left: 0;
  margin-top: 20px;
}
