html, body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  counter-reset: element;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

.main {
  background: #e4e4e4;
  padding: 0 !important;
}

.jumbotron-fluid {
  width: 100%;
  height: 480px;
  background: url('../images/header.jpg');
  background-size: cover;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  position: relative;
  padding: 0;
}

.jumbotron-fluid.small-jumbotron {
    height: 200px;
}

.jumbotron-fluid::before {
	content:" ";
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .7);
}

.jumbotron-fluid .container {
  position: relative;
  margin-top: 135px;
}

.jumbotron-fluid.small-jumbotron .container {
  margin-top: 70px;
}

.jumbotron-fluid h1 {
  text-transform: uppercase;
  font-weight: bold;
}

.jumbotron-fluid h1.subtitle,
.jumbotron-fluid h3 {
  font-weight: 300;
}

.jumbotron-fluid h3::before,
.jumbotron-fluid h3::after {
  content: "";
  display: inline-block;
  width: 60px;
  border-bottom: 2px solid #fff;
  margin: 5px 15px;
}

h2 {
  margin-bottom: 60px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

h2:after {
  content: ' ';
  display: block;
  border-bottom: 5px solid #993333;
  width: 100px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

#ghiduri-section,
#plan-personal-section,
#campaign-section,
#app-section {
  padding-top: 150px;
  padding-left: 0px;
  padding-right: 0px;
}

#summary-section .container,
#campaign-section .container {
    padding-left: 0px;
    padding-right: 0px;
}

.all-button {
  margin: 60px auto;
  margin-top: 20px;
  text-transform: uppercase;
  color: #fff;
  background: #993333;
  font-size: 12px;
  font-weight: bold;
  border-width: 0;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
}

.all-button:hover {
  background: #DC3545;
}

.all-button svg {
  margin-left: 7px;
}

.outline-button {
  font-size: 14px;
  color: #993333;
  border: 1px solid #ccc;
  background: #ebebeb;
  cursor: pointer;
  height: 35px;
  margin-top: 15px;
}

.outline-button:hover {
  background: #933;
  color: #fff;
  border-color: #933;
}

.campaign-button {
  border: 1px solid #933;
}

#ghiduri-section {
  padding-bottom: 80px;
}

#ghiduri-section h3 {
  text-transform: uppercase;
  font-family: 'Roboto', serif;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

#ghiduri-section .guide-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #999;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 25px;
  background-color: #fff;
  position: relative;
}

#ghiduri-section .guide-icon object {
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  max-width: 50px;
  max-height: 50px;
}

#ghiduri-section .ghid-content {
  border: 1px solid #ccc;
  background: #fff;
  text-align: center;
  height: 220px;
  margin-bottom: 20px;
  position: relative;
}

#ghiduri-section .ghid-content:hover h3 {
  color: #fff;
  transition: all .15s ease-in-out;
}

#ghiduri-section a.ghid-content {
  text-decoration: none;
  transition: all .15s ease-in-out;
  padding: 0;
  display: block;
}

#ghiduri-section a.ghid-content:hover {
  box-shadow: 5px 5px 2px #ccc;
  background: #FF6766;
  border-color: #933;
  margin-top: -2px;
  margin-left: -2px;
}

#ghiduri-section a.ghid-content:hover .outline-button {
  border: 1px solid #fff;
  color: #933;
}

#ghiduri-section a.ghid-content:hover .guide-icon {
  border: none;
}

#ghiduri-section a.ghid-content:hover .guide-count {
  color: #fff;
}

#ghiduri-section .guide-count {
  position: absolute;
  font-size: 12px;
  color: #999;
}

#ghiduri-section .guide-count svg {
  margin-right: 3px;
}

#ghiduri-section .count-foto {
  right: 10px;
  top: 5px;
}

#ghiduri-section .count-videos {
  left: 10px;
  top: 5px;
}

#ghiduri-section .ghid-row {
  margin-bottom: 20px;
}

#ghiduri-section .outline-button {
  user-select: none;
  display: inline-block;
  padding: .5rem .75rem;
  line-height: 1.25;
  background: #fff;
  border: 1px solid #ccc;
}

#campaign-section .campaign-photo {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-color: #333;
}

#campaign-section .campaign-box {
    margin-bottom: 35px;
    flex-basis: unset;
}

#campaign-section .campaign-content {
  padding-left: 20px;
  padding-right: 20px;
}

#campaign-section .campaign-content a.title {
  color: unset;
}

#campaign-section .campaign-content a.title:hover {
  text-decoration: unset;
  color: unset;
}

#campaign-section .campaign-content h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

#campaign-section .campaign-content .campaign-extras {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

#campaign-section .campaign-content .campaign-date {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

#summary-section {
  padding: 40px 0;
  background: #465d86;
  color: #fff;
  background-image: url(../images/blue_band.png);
  height: 270px;
  display: flex;
  align-items: center;
}

#summary-section .col {
  text-align: center;
}

#summary-section .count {
  font-size: 16px;
}

#summary-section .count span {
  display: block;
  font-weight: bold;
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: -10px;
}

#plan-personal-section {
  background: #fff;
}

#plan-personal-section .headline {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

#plan-personal-section .big-red {
  color: #993333;
}

#plan-personal-section div:nth-of-type(3) {
  margin-top: 10px;
}

#plan-personal-section .element::before {
  counter-increment: element;
  content: counter(element) '. ';
  font-size: 18px;
  font-weight: bold;
}

#plan-personal-section .img-container {
  text-align: center;
}

#plan-personal-section img {
  margin: 0 auto;
}

#plan-personal-section .trusa-row {
  margin-bottom: 20px;
}

#app-section {
  padding-bottom: 150px;
  background: #fff;
}

#app-section h2 {
  font-weight: normal;
  text-align: left;
  text-transform: none;
  margin-bottom: 20px;
}

#app-section h2::after {
  margin-left: 0;
  margin-top: 20px;
}

#app-section .subtitle {
  margin-bottom: 20px;
  font-size: 16px;
}

#app-section .app-intro .row {
  padding-left: 15px;
}

#app-section .app-intro img {
  height: 60px;
  margin-bottom: 15px;
}

#app-section .app-intro .col {
  max-width: 210px;
  padding: 0px;
  padding-right: 15px;
}

#guide-content {
    margin-top: 80px;
    margin-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
}

#guide-content .small-menu {
  text-align: center;
  top: -40px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Merriweather, serif;
}

#guide-content .small-menu .btn {
  background: none;
  border: 1px solid #933;
  border-radius: 0;
  color: #933;
}

#guide-content .small-menu .dropdown-item {
  text-transform: capitalize;
}

#guide-content #accordion .card-header .btn-link {
  white-space: normal;
  padding-right: 45px;
  position: relative;
}

#guide-content #accordion .card-header .btn-link svg {
  height: 18px;
  right: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#guide-content #accordion ul {
  list-style: none;
  counter-reset: section;
  position: relative;
}

#guide-content #accordion ul li {
  padding-bottom: 12px;
  padding-left: 40px;
  position: relative;
}

#guide-content #accordion ul li::before {
  line-height: 24px;
  width: 27px;
  left: 0;
  position: absolute;
  counter-increment: section;
  content: counter(section);
  border-radius: 50%;
  background: #d03233;
  color: #fff;
  font-weight: 700;
  height: 27px;
  text-align: center;
  border: 2px solid #fff;
  z-index: 2;
}

#guide-content #accordion ul li::after {
  content: '';
  position: absolute;
  border-left: 1px solid;
  left: 13.5px;
  bottom: 0;
  top: 20px;
  height: 100%;
}

#guide-content #accordion ul li:last-child::after {
  content: none;
}

#guide-content #accordion ul li:last-child {
  padding-bottom:0
}

#guide-content #accordion .card-header {
    padding: 0;
}

#guide-content #accordion .card-header button {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  text-transform: initial;
  height: 100%;
  width: 100%;
  text-align: left;
  color: #d03233;
  padding: 1.5rem 1.25rem;
  text-transform: lowercase;
  text-decoration: none;
  transition: .7s transform fade-in;
  background: none;
  border-bottom: none;

}

#guide-content #accordion .card-header button::first-letter {
  text-transform: uppercase;
}

#guide-content #accordion .card-header button:hover {
  text-decoration: none;
}

#guide-content #accordion .card-header svg {
  transition: .3s transform ease-in-out;
  float: right;
  transform: rotate(180deg);
}

#guide-content #accordion .card-header .collapsed svg {
  transform: rotate(0deg);
}

#guide-content #accordion .card-header button.collapsed {
  background: rgba(0,0,0,.03);
  color: #333;
}

#guide-content #accordion .card-header {
  background: none;
  border-bottom: none;
}

#guide-content #accordion .card {
  border: 1px solid #999;
  border-radius: 0;
}

#guide-content #accordion .carousel-item {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 375px;
}

#guide-content .guide-sidebar {
  padding-left: 50px;
}

#guide-content h3 {
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
  display: inline-block;
}

#guide-content ul {
  list-style-type: none;
  padding-left: 0;
}

#guide-content ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

#guide-content ul li a {
  color: #333;
  font-size: 16px;
  text-transform: capitalize;
}

#guide-content ul li a:hover {
  color: #d03233;
  text-decoration: none;
  text-transform: capitalize;
}

#guide-content ul li a svg {
  margin-right: 5px;
}

#guide-content h2 {
  margin-bottom: 30px;
}

#guide-content .download-guide {
  margin-top: 50px;
  padding-left: 35px;
}

#guide-content .download-guide svg {
  color: #d03233;
  margin-right: 15px;
}

#guide-content .download-guide a {
  color: #333;
  text-transform: uppercase;
}

#guide-content .download-guide a:hover {
  color: #d03233;
  text-decoration: none;
}

#guide-content .extra-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  margin: 30px auto;
}

#guide-content .extra-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#campaign-content {
  padding-top: 100px;
  background: #fff;
  padding-bottom: 100px;
  padding-left: 0px;
  padding-right: 0px;
}

#campaign-content .campaign-row p {
  word-wrap: break-word;
}

#campaign-content .campaign-image {
  max-width: 100%;
  border: 1px solid #999;
}

#campaign-content .campaign-image-container {
  text-align: center;
  margin-bottom: 50px;
}

#campaign-content .campaign-info svg {
  transition: .3s transform ease-in-out;
  float: right;
  color: #333;
  margin-left: 10px;
  transform: rotate(180deg);
}

#campaign-content .campaign-info.collapsed svg {
  transform: rotate(0deg);
}

#campaign-content .campaign-info {
  background: none;
  color: #993333;
  font-weight: bold;
  border: 0;
  text-transform: uppercase;
  padding-left: 0;
}

#campaign-content .campaign-info:focus {
  text-align: left;
  outline: none;
  box-shadow: none;
}

#campaign-content #collapseCampaignInfo {
  border: none;
  margin-left: 2px;
}

#campaign-content #collapseCampaignInfo .card {
  border: none;
  padding: 0;
}

#campaign-content #collapseCampaignInfo ul {
  list-style-type: none;
  border: none;
  padding-left: 0;
}

#campaign-content #collapseCampaignInfo svg {
  margin-right: 10px;
  color: #007bff;
}

#campaign-content .campaign-row p {
  padding-bottom: 0px;
  padding-top: 0px;
}

#contact-section #map {
  width: 100%;
  height: 400px;
}

#contact-section .contact-info {
  margin-top: 100px;
  margin-bottom: 150px;
}

#contact-section .contact-info-text {
  margin-bottom: 50px;
}

#contact-section .contact-info-text a {
  color: #333;
  font-weight: bold;
}

#contact-section .contact-info-text a:hover {
  text-decoration: none;
}

#contact-section .all-button {
  margin-top: 20px;
}

#contact-section .pirate-forms-submit-button {
  cursor: pointer;
  background-color: #993333;
  border: 0;
  font-weight: bold;
}

#contact-section .pirate-forms-fields-container .col-sm-6 {
  min-width: 100%;
}

#despre-content {
    margin-top: 80px;
}

#despre-content .small-menu {
  text-align: center;
  top: -40px;
  font-family: Merriweather, serif;
}

#despre-content .small-menu .btn {
  background: none;
  border: 1px solid #999;
  border-radius: 0;
  color: #999;
}

#despre-content .small-menu .nav-link {
  text-transform: capitalize;
  background-color: transparent;
  padding-left: 15px;
}

#despre-content h3 {
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #999;
  display: inline-block;
}

#despre-content .nav-link {
  color: #333;
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0;
  padding-bottom: 3px;
}

#despre-content .nav-link:hover,
#despre-content .nav-link.active {
  background: none;
  color: #d03233;
}

#despre-content ul li a svg {
  margin-right: 5px;
}

#despre-content #custom-menu-content {
  padding-right: 30px;
}

#despre-content .despre-row {
  margin-bottom: 80px;
}

/* Search */
.suggestion-link .suggestion-post-thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#algolia-hits .ais-hits--thumbnail {
  width: 128px;
  height: 128px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#algolia-hits h4 a {
  color: #333;
  display: inline-block;
}

#algolia-search-box {
  border: 12px solid hsla(0,0%,100%,.4);
}

#algolia-search-box .ais-search-box--input {
  border: 1px solid #999;
  background: #ffc;
  padding-left: 55px;
}

#algolia-search-box .search-icon {
  fill: #333;
  margin-left: 15px;
}

#algolia-search-box .ais-search-box--powered-by {
  top: 70px;
}

#algolia-search-box .ais-stats {
  top: 70px;
}

#plan-personal-content {
  padding-top: 100px;
  background: #fff;
  padding-bottom: 100px;
  counter-reset: plan-section;
  padding-left: 0;
  padding-right: 0;
}

#plan-personal-content h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#plan-personal-content .plan-personal-image {
  max-width: 100%;
}

#plan-personal-content .plan-personal-image-container {
  text-align: center;
  margin-bottom: 50px;
}

#plan-personal-content .card {
  border: none;
  background: none;
}

#plan-personal-content .card-header {
  background: none;
  border: none;
  padding: 3px;
}

#plan-personal-content .card-body {
  padding-left: 0;
}

#plan-personal-content .card-header button {
  padding-left: 0;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #993333;
}

#plan-personal-content .card-header button:before {
  counter-increment: plan-section;
  content: counter(plan-section) ". ";
}


#plan-personal-content #accordion .card-header svg {
  transition: .3s transform ease-in-out;
  float: right;
  margin-left: 10px;
  transform: rotate(180deg);
}

#plan-personal-content #accordion .card-header .collapsed svg {
  transform: rotate(0deg);
}

#plan-personal-content .plan-personal-row {
  margin-top: 80px;
}

#plan-personal-content .download-tabel {
  margin-top: 50px;
  padding-top: 35px;
  border-top: 1px dotted #333;
}

#plan-personal-content .download-tabel svg {
  color: #d03233;
  margin-right: 15px;
}

#plan-personal-content .download-tabel a {
  color: #333;
  text-transform: uppercase;
}

#plan-personal-content .download-tabel a:hover {
  color: #d03233;
  text-decoration: none;
}

@include media-breakpoint-up(sm) {
  body,html {
    font-size: 1.2rem;
  }
}
@include media-breakpoint-down(sm) {
  body,html {
    font-size: 1rem;
  }

  .outline-button{
    font-size: 1.1rem;
    padding:10px 30px;
    height: 100%;
    width: 100%;
  }

  #campaign-section .campaign-content h3 {
    font-size: 1.3rem;
  }

  #guide-content .small-menu .btn,
  #despre-content .small-menu .btn {
    width:100%;
    padding: 1rem 2rem;
  }

  #guide-content .small-menu .dropdown-item,
  #despre-content .small-menu .dropdown-item {
    font-size: 1.2rem;
    padding: 10px;
  }

  .dropdown-menu {
    width:100%;
  }

  .dropdown-toggle:after{
    position: absolute;
    right: 20px;
    top: 25px;
    color: #933;
  }
}

@include media-breakpoint-up(md) {
  body,html {
    font-size: 1rem!important;
  }

}

@include media-breakpoint-down(md) {
  #campaign-section .campaign-content .campaign-extras {
    font-size: 1rem;
  }

  .outline-button{
    font-size: 1.1rem;
    padding:10px 30px;
    height: 100%;
    width: 100%;
  }
  .ghid-btn{
    height: unset;
    width: unset;
  }
}

@include media-breakpoint-up(lg) {
  body,html{
    font-size: 1.2rem;
  }
}

h4.modal-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

#fourohfour-section {
  margin-top: 100px;
  margin-bottom: 150px;
}

#fourohfour-section .masked-anchor {
  font-weight: bold;
  color: unset;
}

#video-gallery-section .extra-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0;
	height: 0;
  margin: 15px auto;
  margin-bottom: 0;
}

#video-gallery-section .extra-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#video-gallery-section h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: left;
  font-weight: 700;
}

#video-gallery-section .video-gallery-box {
  margin-bottom: 45px;
}

#video-gallery-section .video-gallery-content {
  padding-left: 20px;
  padding-right: 20px;
}

#video-gallery-section .outline-button {
  background: #fff;
}

#video-gallery-section .outline-button:hover {
  background: #933;
}

#video-gallery-section {
  padding-top: 100px;
  padding-bottom: 60px;
}

#photo-gallery-section h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: left;
  font-weight: 700;
}

#photo-gallery-section .photo-gallery-box {
  margin-bottom: 45px;
}

#photo-gallery-section .photo-gallery-content {
  padding-left: 20px;
  padding-right: 20px;
}

#photo-gallery-section .photo-carousel {
  position: relative;
  margin: 20px auto;
  border: 1px solid #999;
}

#photo-gallery-section .outline-button {
  background: #fff;
}

#photo-gallery-section .outline-button:hover {
  background: #933;
}

#photo-gallery-section {
  padding-top: 100px;
  padding-bottom: 60px;
}

#photo-gallery-section .carousel-item {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 290px;
}

#summary-section a {
  color: #fff;
}

#summary-section a:hover {
  text-decoration: none;
}

.algolia-autocomplete .suggestion-post-title {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold !important;
  line-height: 32px;
  padding-left: 10px;
}

.algolia-autocomplete .suggestion-link {
  padding: 10px !important;
  height: 100%;
}

.algolia-autocomplete .suggestion-post-thumbnail {
  background: #ccc;
  width: 40px;
  height: 40px;
}

.algolia-autocomplete .aa-suggestion {
  padding: 0;
}

.algolia-autocomplete .autocomplete-header-title {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: bold;
}

.algolia-autocomplete .aa-suggestion em {
  background: rgba(120, 120, 120, .25);
}

.algolia-autocomplete .aa-suggestion.aa-cursor {
  background: #e1e1e1;
}

.algolia-autocomplete .algolia-powered-by-link svg {
  filter: grayscale(100%);
}

.algolia-autocomplete .algolia-powered-by-link {
  opacity: .5;
}

.algolia-autocomplete .suggestion-post-attributes {
  margin-left: 50px;
}

/* Search */
.suggestion-link .suggestion-post-thumbnail {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#algolia-hits .ais-hits--thumbnail {
  width: 128px;
  height: 128px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#algolia-hits h4 a {
  color: #333;
  display: inline-block;
  font-size: 20px;
}

#algolia-hits h4 a:hover {
  text-decoration: none;
}

#algolia-hits h4 .content-label {
  text-transform: uppercase;
  background: #933;
  font-size: 14px;
  margin-right: 10px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  padding: 6px 10px;
}

#algolia-hits h3 .content-label .campanie {
  background: #636363;
}

#algolia-search-box {
  border: 12px solid hsla(0,0%,100%,.4);
}

#algolia-search-box .ais-search-box--input {
  border: 1px solid #999;
  background: #ffc;
  padding-left: 55px;
}

#algolia-search-box .search-icon {
  fill: #333;
  margin-left: 15px;
}

#algolia-search-box .ais-search-box--powered-by {
  top: 70px;
}

#algolia-search-box .ais-stats {
  top: 70px;
}

#algolia-pagination {
  text-align: center;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 80px;
}

#algolia-pagination ul li a {
  color: #333;
}

#algolia-pagination ul li.ais-pagination--item__active a {
  text-decoration: none;
  color: #933;
}

#search-page-section {
  margin-top: 80px;
}

#algolia-stats .ais-stats {
  position: relative;
  top: 0;
  font-size: unset;
}

#algolia-stats .ais-stats h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-transform: none;
}

#algolia-stats .ais-stats h2 em {
  font-weight: bold;
  font-style: normal;
}

#algolia-search-box .algolia-powered-by-link.search-page {
  position: absolute;
  bottom: -105px;
  right: 0;
}

#algolia-search-box .ais-search-box--powered-by {
  display: none;
}

#search-page-section #fourohfour-section {
  margin-top: 10px;
}
