.search-form label {
  display: flex;
  flex: 1 1 auto;
  margin-bottom: 0;
}

.search-form .search-submit {
  border-radius: 0;
  border: 1px solid #999;
  background: #ffcc00;
  color: #000;
  display: flex;
  width: 44px;
  cursor: pointer;
}

.search-form .search-submit svg {
  margin: 0 auto;
}

.search-form .search-field,
#algolia-search-box .ais-search-box--input {
  padding: 15px;
  border-radius: 0;
  border: 1px solid #999;
  font-style: normal;
  background: #ffffcc;
  color: #000;
  width: 100%;
  height: 44px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

#algolia-search-box .ais-search-box--input {
  padding-right: 50px;
}

.search-form .search-field::placeholder,
#algolia-search-box .ais-search-box--input::placeholder {
  font-style: italic !important;
  color: #666;
}

.search-form {
  display: flex;
  border: 6px solid rgba(255, 255, 255, 0.4);
  max-width: 575px;
  margin: 0 auto;
  margin-top: 35px;
}

#algolia-search-box .search-icon {
  top: 9px;
  left: unset;
  right: 14px;
  width: 21px;
}

#algolia-search-box {
  margin: 0 auto;
  max-width: 575px;
  border-width: 6px;
}
