.search-form label {
  display: flex;
  flex: 1 1 auto;
  margin-bottom: 0;
}
 
.search-form .search-submit {
  border-radius: 0;
  border: 1px solid #999;
  background: #ffcc00;
  color: #000;
  display: flex;
}

.search-form .search-field {
  padding: 5px;
  border-radius: 0;
  border: 1px solid #999;
  font-style: italic;
  background: #ffffcc;
  color: #666;
  width: 100%;
}

.search-form {
  display: flex;
  border: 12px solid rgba(255, 255, 255, 0.4);
  max-width: 500px;
  margin: 0 auto;
  margin-top: 35px;
}
