<div class="container-fluid" id="fourohfour-section">
  <div class="container">
    <h2>
      Hopa!
    </h2>
    <div class="fourohfour-text row justify-content-center">
      <div class="{{# wide }} col-lg-12 {{/ wide }} {{^ wide }} col-lg-6 {{/ wide }} col-md-12">
        <strong>Termenul sau pagina căutate de tine nu au fost găsite.</strong>.<br/>
        Se pare că deocamdată nu avem informații despre termenul căutat de tine.<br/>
        Totuși, te rugăm să <a href="#search" class="masked-anchor">cauți alt termen / expresie</a> în modulul de căutare de mai
        sus, <a href="#navbarContent" class="masked-anchor">explorează meniul site-ului</a>
        sau <a href="/contact">scrie-ne un mesaj</a> direct.
      </div>
    </div>
  </div>
</div>
