<div class="container-fluid" id="app-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col d-none d-sm-block ">
        <img
          src="{{ mobile_app_dsu }}"
          class="img-fluid"
          alt="Aplicația mobile DSU">
      </div>
      <div class="col">
        <h2>
          Află primul despre alerte din trafic, avertizări meteo
          sau calamități naturale
        </h2>
        <div class="app-intro">
          <div class="subtitle">
            Descarcă <strong>gratuit</strong> aplicația DSU!
          </div>
          <div class="row">
            <div class="col">
              <a
                href="https://dsu.app.link/IOSfiipregatit"
                rel="nofollow"
                target="_blank">
                <img src="{{ ios_badge }}" alt="Descărcați de pe App Store"/>
              </a>
            </div>
            <div class="col">
              <a
                href=" https://dsu.app.link/Androidfiipregatit"
                rel="nofollow"
                target="_blank">
                <img
                  class="play-store"
                  src="{{ playstore_badge }}"
                  alt="Descărcați de pe Google Play"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
