<div class="container-fluid" id="app-section">
  <div class="container">
    <div class="row">
      <div class="col d-none d-sm-block ">
        <img
          src="{{ mobile_app_dsu }}"
          class="img-fluid">
      </div>
      <div class="col">
        <h2>
          Află primul despre alerte din trafic, avertizări meteo
          sau calamități naturale
        </h2>
        <div class="app-intro">
          <div class="subtitle">
            Descarcă <strong>gratuit</strong> aplicația DSU!
          </div>
          <div class="row">
            <div class="col">
              <img src="{{ ios_badge }}" />
            </div>
            <div class="col">
              <img
                class="play-store"
                src="{{ playstore_badge }}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
