<div class="container-fluid" id="campaign-section">
  <div class="container">
    <h2>Campanii</h2>
    <div class="row">
      {{# campaigns }}
        <div class="campaign-box col-lg-4 col-md-6 col-sm-12 col-xs-12">
          <div class="campaign-content">
            <h3>
              {{ title }}
            </h3>
            <div class="campaign-date">
              <i class="far fa-calendar"></i>
              {{ date }}
            </div>
            <div
              class="d-block mx-auto mt-3 mb-3 border campaign-photo"
              style="background-image: url({{ image.url }})">
            </div>
            <div class="campaign-extras">
              {{ extras }}
            </div>
            <a
              href="{{ permalink }}"
              role="button"
              class="outline-button btn btn-outline-secondary rounded-0">
              Citește
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      {{/ campaigns }}
    </div>
    {{# see_more }}
      <div class="text-center">
        <a href="#" rel="button" class="btn btn-secondary all-button">
          Vezi toate campaniile
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
    {{/ see_more }}
  </div>
</div>
