<div class="container-fluid" id="campaign-content">
  <div class="container">
    <h2>{{ title }}</h2>
    <div class="row campaign-row justify-content-center">
      <div class="campaign-image-container col-lg-6 col-md-8 col-sm-12">
        <img src="{{ image.url }}" class="campaign-image" />
      </div>
    </div>
    <div class="row capmpaign-row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-12">
        {{& content }}
        {{# has_attachments }}
          <p>
            <a
              class="btn campaign-info"
              data-toggle="collapse"
              href="#collapseCampaignInfo"
              role="button"
              aria-expanded="true"
              aria-controls="collapseCampaignInfo">
              Vezi materiale de informare
              <i class="fa fa-chevron-down pull-right"></i>
            </a>
          </p>
          <div class="collapse show" id="collapseCampaignInfo">
            <div class="card card-body">
              <ul>
                {{# attachments }}
                  <li>
                    <i class="fas {{ icon_class }}"></i>
                    <a
                      target="_blank"
                      href="{{ url }}"
                      {{# has_lightbox }}
                        data-toggle="lightbox"
                        data-title="{{ name }}"
                      {{/ has_lightbox }}>
                      {{ name }}
                    </a>
                  </li>
                {{/ attachments }}
                {{# videos }}
                  <li>
                    <i class="fab fa-youtube"></i>
                    <a
                      target="_blank"
                      href="{{ url }}"
                      data-toggle="lightbox"
                      data-title="{{ title }}">
                      {{ title }}
                    </a>
                  </li>
                {{/ videos }}
              </ul>
            </div>
          </div>
        {{/ has_attachments }}
      </div>
    </div>
  </div>
</div>
