<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
  window.addEventListener("load", function(){
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#ffffcc",
          "text": "#993333"
        },
        "button": {
          "background": "#993333"
        }
      },
      "showLink": false,
      "position": "bottom-right",
      "content": {
        "message": "Pentru o experiență cât mai bună, acest website folosește cookies.",
        "dismiss": "Am înțeles",
        "link": ""
      }
    })});
</script>
