<div class="container-fluid" id="guide-content">
  <div class="dropdown show small-menu">
    <a
      class="btn btn-secondary dropdown-toggle d-lg-none"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      Vezi Alte Ghiduri
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {{# sidebar_links }}
        <a class="dropdown-item" href="{{ href }}">{{ text }}</a>
      {{/ sidebar_links }}
    </div>
  </div>
  <div class="container">
    <h2>Prim Ajutor</h2>
    <div class="row ghid-row">
      <div class="col col-lg-9 col-md-12">
        <div id="accordion" class="first-aid">
          {{# first_aid_items }}
            <div class="card">
              <div class="card-header" id="heading-{{ index }}">
                <h5 class="mb-0">
                  <button
                    class="btn btn-link collapsed expander-button"
                    data-toggle="collapse"
                    data-target="#collapse-{{ index }}"
                    aria-expanded="true"
                    aria-controls="collapse-{{ index }}">
                    {{ title }}
                    <i class="fa fa-chevron-down pull-right"></i>
                  </button>
                </h5>
              </div>
              <div
                id="collapse-{{ index }}"
                class="collapse">
                <div class="card-body">
                  {{{ content }}}
                </div>
              </div>
            </div>
          {{/ first_aid_items }}
        </div>
      </div>
      <div class="col col-lg-3 col-md-12 guide-sidebar d-none d-lg-block">
        <h3>Alte Ghiduri</h3>
        <ul>
          {{# sidebar_links }}
            <li>
              <a href="{{ href }}">
                <i class="fas fa-chevron-right"></i>
                {{ text }}
              </a>
            </li>
          {{/ sidebar_links }}
        </ul>
      </div>
    </div>
    {{# pdf_guide.url }}
      <div class="download-guide">
        <a href="{{ . }}" target="_blank">
          <i class="far fa-file-pdf" data-fa-transform="grow-20"></i>
          <strong>Descarcă ghidul</strong>
          {{# pdf_size }}
            (PDF, {{ . }})
          {{/ pdf_size }}
        </a>
      </div>
    {{/ pdf_guide.url }}
  </div>
</div>

<style>
  #guide-content .first-aid iframe {
    width: 100%;
  }
</style>

<script>
  function adjustIframes() {
    jQuery('#guide-content .first-aid iframe').each(function() {
      var $this = jQuery(this);
      var proportion = $this.data('proportion');
      var w = $this.attr('width');
      var actual_w = $this.width();

      if (!proportion) {
        proportion = $this.attr('height') / w;
        $this.data( 'proportion', proportion);
      }

      if (actual_w !== w) {
        var new_height = Math.round(actual_w * proportion) + 'px';
        $this.css( 'height', new_height);
      }
    });
  }

  jQuery('.expander-button').click(() => {
    setTimeout(adjustIframes, 500);
  });

  jQuery( document ).ready(adjustIframes);
  jQuery(window).on('resize load', adjustIframes);
</script>
