<div class="container-fluid" id="guide-content">
  <div class="dropdown show small-menu">
    <a
      class="btn btn-secondary dropdown-toggle d-lg-none"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false">
      Vezi Alte Ghiduri
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {{# sidebar_links }}
        <a class="dropdown-item" href="{{ href }}">{{ text }}</a>
      {{/ sidebar_links }}
    </div>
  </div>
  <div class="container">
    <h2>Ghid {{ title }}</h2>
    <div class="row ghid-row">
      <div class="col col-lg-9 col-md-12">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button
                  class="btn btn-link"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne">
                  Înainte de eveniment
                  <i class="fa fa-chevron-down pull-right"></i>
                </button>
              </h5>
            </div>
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordion">
              <div class="card-body">
                {{{ before_content }}}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo">
                  În timpul evenimentului
                  <i class="fa fa-chevron-down pull-right"></i>
                </button>
              </h5>
            </div>
            <div
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordion">
              <div class="card-body">
                {{{ during_content }}}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button
                  class="btn btn-link collapsed"
                  data-toggle="collapse"
                  data-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree">
                  După eveniment
                  <i class="fa fa-chevron-down pull-right"></i>
                </button>
              </h5>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordion">
              <div class="card-body">
                {{{ after_content }}}
              </div>
            </div>
          </div>
          {{# has_extra_info }}
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button
                    class="btn btn-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour">
                    Info ajutător (foto / video)
                    <i class="fa fa-chevron-down pull-right"></i>
                  </button>
                </h5>
              </div>
              <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingFour"
                data-parent="#accordion">
                <div class="card-body">
                  {{{ extra_info }}}

                  {{# video }}
                  <div class="extra-video">
                    {{{ video }}}
                  </div>
                  {{/ video}}

                  <div
                    id="carouselControls"
                    class="carousel slide"
                    data-ride="carousel"
                    data-interval="false">
                    <ol class="carousel-indicators">
                      {{# photo_gallery }}
                        <li
                          data-target="#carouselIndicators"
                          data-slide-to="{{ idx }}"
                          class="{{# first }} active {{/ first }}">
                        </li>
                      {{/ photo_gallery }}
                    </ol>
                    <div class="carousel-inner">
                      {{# photo_gallery }}
                        <div
                          class="carousel-item {{# first }} active {{/ first }}"
                          style="background-image: url({{ photo }})">
                        </div>
                      {{/ photo_gallery }}
                    </div>
                    <a
                      class="carousel-control-prev"
                      href="#carouselControls"
                      role="button"
                      data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Înapoi</span>
                    </a>
                    <a
                      class="carousel-control-next"
                      href="#carouselControls"
                      role="button"
                      data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Înainte</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          {{/ has_extra_info }}
        </div>
      </div>
      <div class="col col-lg-3 col-md-12 guide-sidebar d-none d-lg-block">
        <h3>Alte Ghiduri</h3>
        <ul>
          {{# sidebar_links }}
            <li>
              <a href="{{ href }}">
                <i class="fas fa-chevron-right"></i>
                {{ text }}
              </a>
            </li>
          {{/ sidebar_links }}
        </ul>
      </div>
    </div>
    {{# pdf_guide.url }}
      <div class="download-guide">
        <a href="{{ . }}" target="_blank">
          <i class="far fa-file-pdf" data-fa-transform="grow-20"></i>
          <strong>Descarcă ghidul</strong>
          {{# pdf_size }}
            (PDF, {{ . }})
          {{/ pdf_size }}
        </a>
      </div>
    {{/ pdf_guide.url }}
  </div>
</div>
