<div
  class="container-fluid"
  id="ghiduri-section"
  style="{{# bg }} background: {{ . }} {{/ bg }}">
  <div class="container">
    <h2>
      {{ title }}

      {{^ title }}
        Ghiduri
      {{/ title }}
    </h2>
    <div class="row ghid-row {{# center }} justify-content-center {{/ center }}">
      {{# extra_box }}
        <div class="ghid-box col-lg-3 col-sm-6 col-xs-12">
          <a class="ghid-content" href={{ permalink }}>
            {{# count_videos }}
              <div class="guide-count count-videos">
                <i class="fab fa-youtube"></i> {{ count_videos }} video
              </div>
            {{/ count_videos }}
            {{# count_photo }}
              <div class="guide-count count-foto">
                <i class="far fa-image"></i> {{ count_photo }} foto
              </div>
            {{/ count_photo }}
            <div
              class="guide-icon"
              {{^ is_svg }} style="background-image: url({{ icon }})" {{/ is_svg }}>
              {{# is_svg }}
                <object id="{{ id }}" type="image/svg+xml" data="{{ icon }}">
                </object>
              {{/ is_svg }}
            </div>
            <h3>
              {{ title }}
            </h3>
            <span class="outline-button ghid-btn">
              {{ button_label }}
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      {{/ extra_box }}
      {{# guides }}
        <div class="ghid-box col-lg-3 col-sm-6 col-xs-12">
          <a class="ghid-content" href={{ permalink }}>
            {{# count_videos }}
              <div class="guide-count count-videos">
                <i class="fab fa-youtube"></i> {{ count_videos }} video
              </div>
            {{/ count_videos }}
            {{# count_photo }}
              <div class="guide-count count-foto">
                <i class="far fa-image"></i> {{ count_photo }} foto
              </div>
            {{/ count_photo }}
            <div
              class="guide-icon"
              {{^ is_svg }} style="background-image: url({{ icon }})" {{/ is_svg }}>
              {{# is_svg }}
                <object id="{{ id }}" type="image/svg+xml" data="{{ icon }}">
                </object>
              {{/ is_svg }}
            </div>
            <h3>
              {{ title }}
            </h3>
            <span class="outline-button ghid-btn">
              Vezi Ghid
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      {{/ guides }}
    </div>
    {{# see_more }}
      <div class="text-center">
        <a href="/ghiduri" rel="button" class="btn btn-secondary all-button">
          Vezi toate ghidurile
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
      </div>
    {{/ see_more }}
  </div>
</div>

<script>
  window.onload = function(){
    (function ($) {
    	$.fn.getSVG = function (selector) {
    		var svgDoc = this[0].contentDocument;
    		return $(svgDoc);
    	};
    	$.fn.setSVGStyle = function (style) {
    		var svgDoc = this[0].contentDocument;
    		var styleElement = svgDoc.createElementNS("http://www.w3.org/2000/svg", "style");
    		styleElement.textContent = style;
    		svgDoc.getElementsByTagName("svg")[0].appendChild(styleElement);
    		return;
    	};
    	$.fn.setSVGStyleLink = function (link) {
    		var svgDoc = this[0].contentDocument;
    		var linkElm = svgDoc.createElementNS("http://www.w3.org/1999/xhtml", "link");
    		linkElm.setAttribute("href", link);
    		linkElm.setAttribute("type", "text/css");
    		linkElm.setAttribute("rel", "stylesheet");
    		svgDoc.getElementsByTagName("svg")[0].appendChild(linkElm);
    		return;
    	};
    }(jQuery));

    var guides = [];
    {{# guides }}
      {{# is_svg }}
        guides.push({
          'id': '{{ id }}',
          'color': '{{ color }}'
        });
      {{/ is_svg }}
    {{/ guides }}

    guides.map(guide => {
      var svg = jQuery('#' + guide.id).getSVG();
      svg.find('path').attr('fill', guide.color);
    });

    jQuery('.ghid-content').click(function() {
      window.location = jQuery(this).data('href');
    });
  }
</script>
