<div class="container-fluid" id="summary-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <i class="far fa-file-alt" data-fa-transform="grow-25"></i>
        <div class="count">
          <span>{{ guide_count }}</span> ghiduri educative
        </div>
      </div>
      <div class="col">
        <i class="fa fa-camera" data-fa-transform="grow-25"></i>
        <div class="count">
          <span>{{ image_count }}</span> imagini si ilustrații
        </div>
      </div>
      <div class="col">
        <i class="fa fa-film" data-fa-transform="grow-25"></i>
        <div class="count">
          <span>{{ video_count }}</span> video instrucțiuni
        </div>
      </div>
    </div>
  </div>
</div>
