<div class="container-fluid">
  <div class="row">
    <div class="jumbotron jumbotron-fluid {{ extra_class }}">
      <div class="container">
        {{# show_header }}
          <h1>Fii pregătit</h1>
          <h3>pentru</h3>
          <h1 class="subtitle">situații de urgență</h1>
        {{/ show_header }}
        <div class="align-self-center">
          {{& algolia_search }}
        </div>
      </div>
    </div>
  </div>
</div>
