<form
  method="get"
  id="search"
  class="search-form"
  action="{{ action }}">
  <input
    type="text"
    class="search-field"
    name="s"
    id="s"
    placeholder="Scrie aici, de ex: furtună" />
  <button class="btn btn-secondary search-submit" type="submit">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
</form>
