<p>
  În ultimii ani suntem martorii unei intensificări ale situațiilor de urgență de tot felul, atât pe plan internațional cât și pe plan local. În astfel de situații-limită câteva secunde pot schimba totul, iar reacția rapidă și educată a celor afectați este esențială pentru supraviețuire.
</p><p>
  În acest context, Departamentul pentru Situații de Urgență (DSU), instituţia care coordonează serviciile de intervenție de urgenţă din România, a demarat campania națională de informare publică „Fii pregătit” pentru a ajuta cetăţenii să înțeleagă mai bine riscurile şi pentru a-i informa asupra măsurilor de prevenire şi comportamentului pe care să-l aibă în diferite situaţii de urgenţă de amploare sau dezastru. Eforturile DSU din ultimii ani vin în adresarea obiectivelor tematice stabilite în Planul de acțiune privind eficientizarea sistemului național de răspuns în situații de urgență și au o componentă integrată de digitalizare care facilitează informarea publică.
</p><p>
  DSU are deja o aplicație mobilă (iOS / Android) și face eforturi proactive împreună cu instituțiile din subordine (ex: SMURD) pentru a informa, educa și conecta societatea românească la surse oficiale de informații privind situațiile de risc și de urgență.
</p><p>
  Un pas următor pentru DSU a fost lansarea platfomei web centralizate, disponibilă la adresa <a href="fiipregatit.ro">fiipregatit.ro</a>, ce va deveni sursa oficială de informații pentru publicul larg despre măsurile de siguranță, și reacție în caz de urgență.
</p><p>
